
<vxml version="2.1" xmlns="http://www.w3.org/2001/06/vxml"  xml:lang="es-es">
    <menu>
    <prompt xml:lang="es-es">¿En qué idioma desea continuar? </prompt>
    <prompt xml:lang="en-us"> In which language would you like to continue?</prompt>
    <choice next="es_PlanEstudios.vxml">
    Espanol </choice>
    <choice next="enStudiesGuide.vxml">
    English </choice>
    <choice next="fr_PlanEtudes.vxml">
    Frances </choice>
    </menu>
</vxml>